@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --font-main: Play;
    --color-background: rgb(5, 10, 24);
    --text-color: rgb(255, 255, 255);
    --color-focused: #f7f7f7;
    --color-unfocused: #b0b2c3;

    transition: all 500ms ease;

}

body {
    background-color: var(--color-background);
    color: var(--text-color);
    font-family: var(--font-main);
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}



/* --------------------------Navigation bar------------------------- */


.navbar {

    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.navbar-name {
    margin-left: 10%;
    margin-right: 20vw;
}

.nav-group {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.navbar-navs {

    padding: 1px;

    display: flex;
    width: 30vw;
    justify-content: space-between;

    transition: all 500ms ease;

}


.navbar-navs * {
    margin: 0 7% 0 0;
    color: var(--color-unfocused);
    transition: all 500ms ease;
}


.navbar-navs *:hover,
.navbar-navs *:focus {
    outline: none;
    color: var(--color-focused);
    transform: scale(1.1);
}

.navs {
    position: relative;
}

.navs::after {
    content: "";
    background: linear-gradient(to right,
            rgb(106, 113, 204),
            rgb(153, 115, 199),
            rgb(191, 115, 199));

    height: 3px;
    width: 100%;
    border-radius: 25%;

    position: absolute;
    bottom: 10;
    transform: scale(0);
    transform-origin: left;
    transition: all 500ms ease;
}

#navs-about:hover::after,
#navs-about:focus::after {
    transform: scale(1);
}

#navs-projects:hover::after,
#navs-projects:focus::after {
    transform: scale(1);
}

#navs-resume:hover::after,
#navs-resume:focus::after {
    transform: scale(1);
}
.theme-container {
    position: relative;

}

#theme-input {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;

}

.theme-icon {
    position: absolute;
    pointer-events: none;

    transition: all 500ms ease-in-out;
}

#dark {
    top: -10%;
    left: 20%;
    width: 115%;
}

#light {
    top: -35%;
    left: -33%;

    width: 200%;
    fill: #f7f7f7f4;
}

#theme-input:hover~#light,
#theme-input:focus~#light {
    transform: scale(1.1);
}

#theme-input:hover+#dark,
#theme-input:focus+#dark {
    transform: scale(1.1);
}

:root:has(#theme-input:checked) {
    --color-background: #faf9f6;
    --text-color: rgb(0, 0, 0);
    --color-focused: rgb(5, 10, 24);
    --color-unfocused: rgb(0, 0, 0);
}


:root:has(#theme-input:checked) #light {
    opacity: 0;
}

:root:not(:has(#theme-input:checked)) #dark {
    opacity: 0;
}

/* -----Fallback------ */
.lightmode {
    --color-background: #faf9f6;
    --text-color: rgb(0, 0, 0);
    --color-focused: rgb(5, 10, 24);
    --color-unfocused: rgb(0, 0, 0);
}

.lightmode #light {
    opacity: 0;
}

:root:not(.lightmode) #dark {
    opacity: 0;
}

/* ---------------------- */


/* ---------------------------------Main-------------------------------------- */
#mouse {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 20px;

    position: fixed;
    top: 10px;
    left: 10px;
    z-index: -99999;

    pointer-events: none;
    opacity: 0;
    transition: all 500ms ease;

}

body:hover>main>#mouse {
    opacity: 1;
}



/* -----------------------bubble--------------------------- */

.bubble {
    --color: rgba(255, 255, 255, 0.7);
    height: 15px;
    width: 15px;
    border-radius: 25%;
    border: 2px solid var(--color);

    position: fixed;
    z-index: -99999;

    pointer-events: none;
    transition: all 500ms ease;
}

.bubble .inner {
    background-color: var(--color);
    height: 20%;
    width: 25%;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;

    position: absolute;
    top: 20%;
    right: 20%;

    pointer-events: none;
    transition: all 500ms ease;
}




/* ----------------------Side menu----------------------------- */
.side-menu {
    position: fixed;
    top: 35vh;
    top: 35dvh;
    right: 4vh;
    right: 4dvh;

    display: flex;
    flex-direction: column;
}

.side-menu *:focus .icon-button {
    fill: var(--color-focused);
    transform: scale(1.1);
}

.icon-button {
    margin: 25% 0;
    fill: var(--color-unfocused);
    height: 3.5vh;
    transition: all 500ms ease;
}

.icon-button:hover,
.icon-button:focus {
    outline: none;
    fill: var(--color-focused);
    transform: scale(1.1);
}