@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

/* ------------------------ Prelude ---------------------------------------- */
:root {
    --text-color: #000;
    --nav-text-color: #636363;
    --nav-text-hover: red;

    --bg-color: color-mix(in srgb, blue 40%, ivory);
    --focus-color: #000;
    --nav-color: #ffff00;
    --nav-color-secondary: ivory;
    --nav-color-tertiary: purple;
    --nav-active: #0000ff;
    --highlight-color-1: #fff;
    --highlight-color-2: tomato;

    --text-font: Merriweather;

    --content-width: min(90vw, 80rem);

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--text-font), Roboto;

    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    scroll-margin-block-start: 10vh;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.1rem;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    scroll-behavior: smooth;

    box-sizing: inherit;
}



/* ------------------------ Utils ------------------------------------------ */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.sm {
    display: block;
}

.lg,
.md {
    display: none;
}

@media screen and (min-width: 577px) {
    .md {
        display: block;
    }
}

@media screen and (min-width: 993px) {
    .lg {
        display: block;
    }
}



/* -------------------------------- Header --------------------------------- */

#header>*:not(.profile-image, a) {
    animation: header-fade calc(var(--_time-unit) + 2.75s) ease 0s 1 forwards;
}

#header {
    --_time-unit: 1.25s;
    padding: 7rem 5rem 1rem 5rem;

    outline: solid red;
    width: 100%;
    height: fit-content;

    text-align: center;
}

#header h1 {
    margin: 0;

    font-size: 3.25rem;
}

#header p {
    font-size: 1.25rem;
    letter-spacing: -0.025rem;
}

.profile-image {
    display: block;
    margin: 0 0 1.0rem 0;

    animation: header-fade var(--_time-unit) ease 0s 1 forwards;
}

.profile-image img {
    display: block;
    margin: 0 auto;

    width: 8rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

#nav-arrow {
    outline: solid var(--text-color);
    fill: var(--text-color);

    position: relative;

    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;

    margin: 0.5rem auto;

    animation: header-fade calc(var(--_time-unit) + 4.75s) ease 0s 1 forwards;
}

#nav-arrow svg {
    fill: inherit;
    width: 65%;
    aspect-ratio: 4/3;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#nav-arrow:hover,
#nav-arrow:focus-visible {
    outline-color: var(--focus-color);
    fill: var(--focus-color);
}



@media screen and (max-width: 1280px) {
    #header {
        padding: 6rem 4rem 1rem 4rem;
    }
}

@media screen and (max-width: 900px) {
    #header {
        padding: 5rem 3rem 0.5rem 3rem;
    }
}

@media screen and (min-width: 736px){
    #header {
        max-width: var(--content-width);
    }
    #header p{
        outline: solid gold;
        max-width: 64rem;
        margin-inline: auto;
    }
    
}

@media screen and (max-width: 736px) {
    #header {
        padding: 4rem 2rem 0.5rem 2rem;
    }

    #header p {
        font-size: p;
        letter-spacing: 0;
    }

    #header h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    #header {
        padding: 4rem 1.5rem 0.5rem 1.5rem;
    }
}

@media screen and (max-wdith: 360px) {
    #header {
        padding: 3.5rem 1rem 0.5rem 1rem;
    }
}

@keyframes header-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* ------------------------------ Nav -------------------------------------- */

#nav-wrapper {
    outline: solid blue;
    transition: backdrop-filter 0.5s ease;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    backdrop-filter: none;
}

#nav-wrapper[data-backdrop="true"]{
    backdrop-filter: blur(2.5px);
}

#nav {
    background-color: var(--nav-color);

    display: flex;    
    flex-direction: column;
    gap: 0.5rem;

    padding: 7.5rem 0;

    position: fixed;
    right: 0;
    top: 0;

    width: 18rem;
    max-width: 75dvw;
    height: 100dvh;

    z-index: 1000;

    visibility: hidden;
 
    translate: 20rem 0;

    transition: translate 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
}

#nav ul {
    font-weight: 900;
    letter-spacing: 0.027rem;
    text-transform: uppercase;

    list-style: none;
}

#nav ul li {
    margin: 0 0.25rem;
    padding: 0;
}

#nav ul li a{
    text-decoration: none;
    color: var(--nav-text-color);

    border: 0;
} 

#nav ul li a:hover,
#nav ul li a:focus-visible{
    color: var(--nav-text-hover);
}

#nav-sections{

    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 0;
    padding: 0.5rem 2rem;
}

#nav-sections li a{
    display: block;
    position: relative;

    width: 100%;
}

#nav-sections li.active a{
    color: var(--nav-active);
}

#nav-sections li a:hover,
#nav-sections li a:focus-visible{
    outline: none;
}

#nav-sections li a::after{
    content: "";

    position: absolute;
    bottom: -75%;
    left: 0;

    height: 2px;
    width: 100%;

    background-color: var(--nav-color-tertiary);
    
}

#nav-sections li a:hover::after,
#nav-sections li a:focus-visible::after{
    outline: none;
}

#nav-sections li:last-child a::after{
    display: none;
}

#nav-icons{
    display: flex;
    gap: 1.5rem;
}

#nav-icons li a {
    display: flex;

    outline: none;

    border-radius: 100%;

    padding: 0;
}

#nav-icons li a.icon svg{
    width: 1.75rem;
    aspect-ratio: 1;

    border-radius: 100%;

    position: relative;
    
    outline: solid ;
    outline-offset: 3px;
    outline-width: 2px;
}

#mobile-nav-btn {
    display: block;

    background: none;
    border: none;

    position: fixed;
    right: 7%;
    top: 2.5%;

    width: 1.5rem;
    aspect-ratio: 1;

    z-index: 100000;
}

#mobile-nav-btn:focus-visible,
#mobile-nav-btn:focus-visible{
    outline: none;
    color: var(--nav-text-hover);
    fill: var(--nav-text-hover);
}

@media screen and (min-width: 993px) {
    #nav-wrapper{
        position: static;

        width: var(--content-width);
        height: fit-content;

    }

    #nav {

        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        position: static;

        width: var(--content-width);
        height: 4rem;
        max-width: none;
        line-height: 3rem;

        font-size: 1.1rem;

        padding: 0.5rem 2rem;
        margin: 0;

        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25em;

        cursor: default;

        text-align: center;

        z-index: 2;

        visibility: visible;

        translate: 0;

        transition: translate 0s ease 0s;
    }

    #nav ul {
        margin: 0;
        padding: 0;

    }

    #nav ul li {
        transition: margin 0.2s ease;

        display: inline-block;

        vertical-align: middle;
    }

    #nav-sections{
        display: block;
        gap: 0;

        margin: auto;
        padding: auto;
    }

    #nav-sections li {
        border-radius: 8px;
    }

    #nav-sections li:hover,
    #nav-sections li:focus-visible {
        background-color: var(--highlight-color-2);
    }

    #nav-sections li a {
        display: inline-block;
        position: static;

        width: auto;
        height: 2.25rem;
        line-height: 2.15rem;

        padding: 0.25rem 1.5rem;

        transition: font-size 0.2s ease;
    }

    #nav-sections li a::after{
        display: none;
    }

    #nav-icons{
        /* outline: solid red; */
        display: block;
        gap: 0;
    }

    #nav-icons li a {
        border: 0;

    }

    #nav-icons li a.icon svg {
        width: 2.0rem;

        position: static;

        outline: none;

        transition: color 0.2s ease;
    }

    .icon svg:hover,
    .icon svg:focus-visible {
        color: var(--nav-text-hover)
    }

    #nav.stick {
        background-color: var(--nav-color-secondary);

        position: fixed;
        top: 0;
        left: 50%;
        translate: -50% 0;

        padding: 0.25rem 0rem;

        border-top-left-radius: 0;
        border-top-right-radius: 0;

        z-index: 10000;
    }

    #nav.stick ul li {
        margin: 0 0.175rem;
    }

    #nav.stick ul li a {
        font-size: 0.9rem;
    }

    #nav.stick #nav-icons {
        margin-right: 5%;
    }

    #nav.stick #nav-icons li .icon svg {
        width: 2.25rem;
    }

    #mobile-nav-btn {
        display: none;
    }
}

@media screen and (max-width: 1024px){
    #nav.stick {
        left: 49.5%;
    }
}

/* ---------------------------Hamburder animations ------------------------- */

#mobile-nav-btn .hamburger-line{
    transition: 
        y 150ms ease-in 150ms,
        transform 150ms ease-in 150ms,
        rotate 150ms ease-in,
        opacity 0ms 150ms
    ;

    transform-origin: center;
}

#mobile-nav-btn[aria-expanded="true"] .hamburger-line{
    transition: 
        y 150ms ease-in,
        transform 150ms ease-in,
        rotate 150ms ease-in 150ms,
        opacity 0ms 150ms
    ;
}

#mobile-nav-btn[aria-expanded="true"] .first{
    rotate: 45deg;
    transform: translate(0, 25%);
}

#mobile-nav-btn[aria-expanded="true"] .last{
   rotate: -45deg;
   transform: translate(2%, -33%);
}

#mobile-nav-btn[aria-expanded="true"] .middle{
    opacity: 0;
}

#nav[data-visible="true"]{
    translate: 0 0;

    visibility: visible;

    box-shadow: 0 0 1.5rem 0 rbga(0,0,0,0.2);
}


/* -------------------------- Main ----------------------------------------- */

#main {
    outline: solid blue;

    width: var(--content-width);

    padding: 0;

}

#about{
    outline: solid green;
}
