body{
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
}

@media screen and (min-aspect-ratio:16/9) {
  body{
  background-image: url('../public/normal-background.jpg');
  }
  
}

@media screen and (max-aspect-ratio:4/3){
  body{
  background-image: url('../public/tall-background.jpg');
  }

@media screen and (max-aspect-ratio:4/3) and (min-aspect-ratio:1/1) {
  body{
    background-image: url("../public/square-background.jpg");
  }
  
}
  
}

#floater{
  position: absolute;
  top: 90%;
  width: 100%;
}


.hidden-div{
  overflow: auto;
  height:1000px;
  margin-bottom: 20px;
  visibility: hidden;
}

.hidden{
  visibility: hidden;
  padding:2% ;
}
.about-me-content{
  padding: 0 25px;
}
.about-me-div{
  display: block;
  height: 30%;
  margin: 0px auto;
}
.typing{
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}
.center{
  display: block;
  margin: 0 auto;
  width: 50%;
}

.vertical-center{
  display: block;
  margin: auto 0;
  height: 50%;
}

.projectDescBox{
  width: 375px;
  height: 82px;
  margin-bottom: 7%;
}

.build-tools-box{
  width: 300px;
  height: 15px;
  margin-bottom: 5%;
}

.project-desc-content{
  margin-top: 1%;
  max-height: 100%;
  overflow: hidden;
  
}

.build-tools-content{
  margin-top: 1%;
  overflow: hidden;
}

.project-card-bottom{
  display: flex;
  justify-content: space-around;
}

.project-box{
  margin: 0 20px;
  max-width: 1200px; 
}

.projects-list-div{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}





.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 1;
  
}

@media (max-width:800px){
  .about-me-div{
    width: 100%;
  }
  .project-box{
    max-width: 600px;
  }
}

@media (min-width:801px){
  .about-me-div{
    width: 60%;
  }
  
}

#scrollContainer{

  overflow-x: auto;
  overscroll-behavior-x: contain;

  display: flex;
  padding: var(--size-10);
}

#leftScrollButton{
  margin-right: 1%;
}
#rightScrollButton{
  margin-left: 1%;
}


#scrollContainer::-webkit-scrollbar{
  width: 0;
  height: 0;
  background: transparent;
}
#scrollContainer{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
